#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #AED6F1 ;
}
.btn{
    background-color: purple;
}
.container{
    color: purple
}
.card{
    color: purple
}